<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- All REST resources will be prefixed by /api -->

	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>


  <!-- Servlets -->
   <servlet>
    <servlet-name>gigServlet</servlet-name>
    <servlet-class>giggotz.server.rpc.nvivo.GigServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gigServlet</servlet-name>
    <url-pattern>/giggotz/gig</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Resteasy</servlet-name>
  	<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
 	<init-param>
 		<param-name>javax.ws.rs.Application</param-name>
 		<!-- aqui hay que poner la clase que implementara javax.ws.rs.Application -->
 		<param-value></param-value>
 	</init-param>
  </servlet>
  
  <!-- Servlet mappings -->
  <!-- All calls to /api/xxx will be sent to the resteasy servlet -->
  <servlet-mapping>
  	<servlet-name>Resteasy</servlet-name>
  	<!-- A esto tambien hay que darle un garbeico bueno -->
  	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Giggotz.html</welcome-file>
  </welcome-file-list>

</web-app>
